.container {
    width: 35rem;
    margin: auto;
    padding: 1rem 1rem 3rem 1rem; /* cima, direira, baixo, esquerda*/
    border-radius: .6rem; /* arredondar*/
}

.fullWidth {
 width: 100%;
}

h1 {
    text-align: center;
}

.section {
    margin-bottom: 1rem;
    display: flex;
    justify-content: space-between;
}

button {
    margin-top: .5rem;
}

mat-icon {
    opacity: .8;
}